*{box-sizing: border-box;}
*{padding: 0; margin: 0;}
a{display:inline; text-align: left; text-decoration: none;}


body, html{width:100%; margin: 0; height: 100vh;}


ul{
    list-style: none;
    padding: 0;
}

a{display: block;}


h3 {font-size:x-large;}
h4 {text-align: center;}

.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4{
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


/* CLASSI COMODE PER DIVERSI SCOPI */

.sizeImg{
    width: 96%;
    height: 96%;
    padding: 2%;
}

.sizeImg__Full{
    width: 100%;
    height: 100%;
}

.vh5{
    height: 5vh;
}

.wd20{width: 20%;}

.BCW{
    background-color: white;
    opacity: 90%;
}

.Wh{color:white}

.op100{opacity: 100%;}

.pd5px{ padding: 5px;}

.ctr{text-align: center;}

/* CSS PER INDEX */

header{
    /* border: 5px solid green; */
    height: 20vh;
    display: flex;
    background-color: rgb(0, 136, 255);
    border-bottom: yellow 5px solid;
}


.header__main{
    position: relative;
    height: 100%;
    width:35%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.header__box__titolo{
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    width: 60%;
    height: 80%;
    /* border: 1px solid yellow */
}

.header__main img{
    position: relative;
    /* border: 1px solid red; */
    height: 80%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}


.header__box__contenuti{
    /* border: 1px solid red; */
    width: 65%;
    display: flex;
}

.header__box__contenuti h2{
    color: white;
}

.header__box__contenuti__Follow{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__box__contenuti__search{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    display: flex;
    align-items:center;
    justify-content: center;

}
.header__box__contenuti__search__img__box{
    width: 15%;
    margin-left: 5%;
    height: auto;
    border-radius: 100%;
    background-color: white;
    /* border: 1px solid red; */
}


h1{
    padding: 30px;
    text-align: center;
}



/* CARTINA */

.cartina__box{
    /* border: 1px solid red; */
    padding-top: 2%;
    width: 90%;
    height: 500px;
    margin-left: 5%;
    position: relative;   
}

.cartina__box img{
    border-radius: 25px;
    box-shadow: 10px 5px 20px 4px      ;
}

.cartina__divisori{
    /* border: 1px solid blue; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
}

.link__continente__America{
    /* border: 1px solid red; */
    position: absolute;
    top: 13%;
    width: 42%;
    height: 43%;
}

.link__continente__SudAmerica{
    /* border: 1px solid green; */
    position: absolute;
    top: 56%;
    width: 42%;
    height: 30%;
}

.link__continente__Europa{
    /* border: 1px solid red; */
    position: absolute;
    top: 15%;
    left: 42%;
    width: 22%;
    height: 31%;
}

.link__continente__Africa{
    /* border: 1px solid red; */
    position: absolute;
    top: 46%;
    left: 42%;
    width: 22%;
    height: 31%;
}

.link__continente__Asia{
    /* border: 1px solid red; */
    position: absolute;
    top: 15%;
    left: 64%;
    width: 35%;
    height: 51%;
}

.link__continente__Oceania{
    /* border: 1px solid red; */
    position: absolute;
    top: 66%;
    left: 74%;
    width: 22%;
    height: 18%;
}

.main-box{
    background-color: antiquewhite;
    padding: 22% 0 11% 0;
    margin-top: -11%;
}

.indice__index__box{
    /* border: 1px solid red; */
    width: 75%;
    margin-left: 10%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.indice__index__titolo{
    width: 100%;
}

.indice__index__link{
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 5px 5px 20px 4px  black ;
    transition: .5s;

}


.indice__index__link:hover{
    transform: scale(1.2);
    box-shadow: 0 0 0 0 white;
}




.indice__index__elemento__box{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-self: center;
    padding: 5px;
}

.indice__index__elemento__img{
    /* border: 1px solid green; */
    width: 40%;
    height: 100%;
}

.indice__index__elemento__link__Africa{
    width: 60%;
    height: 100%;
    color: black;
    justify-self: center;
    background-image: url(Immagini/Bandiera_Africa.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.indice__index__elemento__link__America{
    width: 60%;
    height: 100%;
    color: black;
    justify-self: center;
    background-image: url(Immagini/Bandiera_America.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.indice__index__elemento__link__SudAmerica{
    width: 60%;
    height: 100%;
    color: black;
    justify-self: center;
    background-image: url(Immagini/Bandiera_SudAmerica.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.indice__index__elemento__link__Asia{
    width: 60%;
    height: 100%;
    color: black;
    justify-self: center;
    background-image: url(Immagini/Bandiera_Asia.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.indice__index__elemento__link__Australia{
    width: 60%;
    height: 100%;
    color: black;
    justify-self: center;
    background-image: url(Immagini/Bandiera_Australia.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.indice__index__elemento__link__Europa{
    width: 60%;
    height: 100%;
    color: black;
    justify-self: center;
    background-image: url(Immagini/Bandiera_Europa.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


.riquadro-testo{
    padding: 5% 10% 0 10%;
}




/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 5%;
    border-top: yellow 5px solid;
    background-color: rgb(0, 136, 255);
}



 /* CSS PER LE PAGINE */
.pag_h1{
    width: 100%;
    text-align: center;
}

.pag_h2{
    width: 100%;
    text-align: center;
}


.MainBox{
    /* border: 1px solid red; */
    width: 100%;
    background-color: antiquewhite;
    display: flex;
}

.sideNav{
    border-right: 3px black solid;
    width: 15%;
    background-color: rgb(0, 136, 255);
    /* border: 1px solid red; */
}

.sideNav h3{
    font-size: 26px;
}

.sideNav a{
    /* border: 1px solid red; */
    width: 80%;
    margin-left: 10%;
    height: 40px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.sideNav__El__Box{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center
}





.ContentBox{
    /* border: 1px solid blue; */
    width: 85%;
    padding: 0 3%;
}


.boxImg{
    /* border: 1px solid red; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.tabella{
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.tabella th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}